.m-price-trend {
    height: 100%;
}
.m-tips {
    background: rgb(20, 42, 70);
    margin-top: .8rem;
    padding: .2rem .16rem 0 .16rem;
}
.title{
    font-size: .18rem;
    color: #FFFFFF;
    display: inline-block;
}
.tip{
    font-size: .14rem;
    color: #577AAB;
    display: inline-block;
    padding-left: 3px;
}
.m-echarts {
    height: 1.6rem;
    margin-left: -.16rem;
    margin-top: .12rem;
}
.m-container{
    height: 100%;
}